RewriteEngine On

# Redirect to your canonical domain if you have one
# RewriteCond %{HTTP_HOST} !^yourdevelopmentdomain\.com$ [NC]
# RewriteRule . https://yourcanonicaldomain.com%{REQUEST_URI} [L,R=301]

# Redirect all requests to HTTPS
RewriteCond %{HTTPS} off
RewriteRule . https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Defend against cross-site tracing (XST)
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

<IfModule mod_headers.c>

  # Add Strict-Transport-Security when HTTPS
  Header set Strict-Transport-Security "max-age=10886400; includeSubDomains" env=HTTPS
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-XSS-Protection "1; mode=block"
  Header set X-Content-Type-Options nosniff
  Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure"

  # Remove unnecessary headers
  Header unset X-Powered-By
</IfModule>

# Disable directory listing
Options -Indexes
